<section id="home-nav-container" class="home-nav">
    <nav class="container-fluid navbar p-0 align-items-center w-1920">
        <h1 class="mb-0">
            <a class="logo white-logo" href="/" style="background-image: url('./frontEndPackage/images/white-logo.png')"
                >久佳營造</a
            >
            <a
                class="logo color-logo d-none"
                href="/"
                style="background-image: url('./frontEndPackage/images/color-logo.png')"
                >久佳營造</a
            >
        </h1>
        <button class="menu-btn d-flex flex-column align-items-center" type="button" data-toggle="offcanvas">
            <i class="bi bi-list menu-icon text-white"></i>
            <p class="mb-0 text-white menu-text">MENU</p>
        </button>
        <div class="navbar-collapse offcanvas-collapse mobile-menu d-flex flex-column" id="mobile-menu">
            <a class="close-btn ml-auto mt-3 text-white" data-toggle="offcanvas"><i class="bi bi-x-lg"></i></a>
            <ul class="navbar-nav mt-3">
                <li class="nav-item mb-4">
                    <a
                        class="position-relative nav-link text-white d-flex justify-content-between py-0"
                        id="nav-about"
                        href="../about.php"
                        ><span class="mr-2">ABOUT US</span>關於我們</a
                    >
                </li>
                <li class="nav-item mb-4">
                    <a
                        class="position-relative nav-link text-white d-flex justify-content-between py-0"
                        id="nav-news"
                        href="../news.php"
                        ><span class="mr-2">NEWS & EVENTS</span>最新消息</a
                    >
                </li>
                <li class="nav-item mb-4">
                    <a
                        class="position-relative nav-link text-white d-flex justify-content-between py-0"
                        id="nav-case"
                        href="../projects.php"
                        ><span class="mr-2">PROJECTS</span>工程實績</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="position-relative nav-link text-white d-flex justify-content-between mb-4 py-0"
                        id="nav-contact"
                        href="../contact.php"
                        ><span class="mr-2">CONTACT US</span>聯絡我們</a
                    >
                </li>
            </ul>
            <div class="img-container d-sm-none text-right">
                <img src="./frontEndPackage/images/white-logo.png" alt="" />
            </div>
        </div>
    </nav>
</section>
